.config/
*.gz
.docker
src/
.Xdefaults
.authinfo
.bash_history
.cache/
.ccl-init.lisp
.cclrc
.dbus/
.emacs.d/
.enrich-classpath-cache
.esd_auth
.gdbinit
.geiser_history.guile
.gnupg/
.guile
.guile_history
.guix-profile
.irssi/
.javacpp/
.lein/
.lesshst
.links/
.local/
.m2/
.mozilla/
.npm/
.offlineimap/
.openbox
.pydora.cfg
.python_history
.sly-mrepl-history
.solargraph/
.ssh/
.stumpwm.d/
.xtest
Downloads/
Mail/
News/
certificates/
exercism/
go/
quicklisp/dists
quicklisp/local-projects
music/
offlineimap.log
mail/
urxvtd.log
locatedb.n
locatedb.n.n
system-index.txt
