.config/fish
.config/htop
.config/menus
.config/nano
.config/pulse
*.gz
.docker
src/
.Xdefaults
.authinfo
.bash_history
.cache/
.ccl-init.lisp
.cclrc
.dbus/
.emacs.d/
.enrich-classpath-cache
.esd_auth
.gdbinit
.geiser_history.guile
.gnupg/
.guile
.guile_history
.guix-profile
.irssi/
.javacpp/
.lesshst
.links/
.local/
.m2/
.mozilla/
.npm/
.offlineimap/
.openbox
.pydora.cfg
.python_history
.sly-mrepl-history
.solargraph/
.ssh/
.stumpwm.d/
.xtest
Downloads/
Mail/
News/
certificates/
exercism/
go/
quicklisp/dists
quicklisp/local-projects
music/
*.log
mail/
*.n
system-index.txt
.fonts/
.lein/.nrepl-port
.lein/repl-history
.lein/repl-port
